{% extends 'base.html.twig' %}

{% block title %}Dictionary Trainer{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dictionary Trainer</a>
    </nav>

    <div id="root"></div>
{% endblock %}
