.login-form {
    width: 400px;
    margin: 2px auto;
    text-align: center;
}

.login-form input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.auth-error {
    margin-top: 20px;
}

.page {
    margin-top: 30px;
}

.modal-dialog {
    position: fixed;
    top: 88px;
    width: 446px;
    left: 0;
    right: 0;
    z-index: 4;
}

.fade-background {
    position: fixed;
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    z-index: 2;
}

.termcard button {
    margin-right: 6px;
}

.termcard button.save, .termcard button.cancel {
    display: none;
}

.termcard.editing button.save, .termcard.editing button.cancel {
    display: initial;
}

.termcard.editing button.edit, .termcard.editing button.delete {
    display: none;
}

.termcard input {
    display: none;
}

.termcard.editing input {
    display: initial;
}

.termcard.editing .card-title {
    display: none;
}

.practice-page .btn.btn-primary.btn-lg {
    margin: 16px 0;
}

.practice-page .alert-danger {
    margin-top: 32px;
}
